{% extends "layouts/base.html" %}
{% block title %}Web Client{% endblock %}
{% block content %}


<section class="bg-gradient pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <div class="heading-brand">Covid19 Travel Quide</div>
                <a href="/api/covid_travel_permit_inquiry/" class="btn btn-dark" target="_blank">Test EndPoint</a>
                <a href="/permit_inquiry/" class="btn btn-dark" target="_blank">Test Web Client</a>
                <a href="/admin/" class="btn btn-dark" target="_blank">Admin Panel</a>
            </div>
        </div>
        
        
        <div class="row mt-6">
            <div class="col-md-8 mx-auto text-center">
            
            
            
            
            					<div class="header-area">
					
						<h3 class="title">PBP Covid19 Travel Inquiry </h3>
						<h4 class="title">WebClient</h4>
						<p class="sub-title">Froantend_to_create_date_pop_ups.Date-Format 2022-01-27 or 2022-01-27T00:00:00Z</p>
					
					
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        {{ form }}
                        <button type="submit" >Submit</button>
                      </form>				
                       
                      
            
                
                <p class="lead mb-5">Form is messy.I know</p>
                <a href="https://github.com/gibeongideon/pbp_core" class="btn btn-success svg-icon">
                    <em class="mr-2" data-feather="github"></em>
                    Source Code
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <div class="code-window">
                 
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                Date_Of_Travel
                              </th>
                              <th>
                                Date_Of_Return
                              </th>
                              <th>
                                Origin_Country
                              </th>
                              <th>
                                Destination_Country
                              </th>

                            </th>
                            <th>
                              Traveler Age
                            </th>                              
                              <th class="text-center">
                                Inquiry_Status
                              </th>
                              <th>
                                Reason_For_Denial
                              </th>              
                            </tr>
                          </thead>
                          <tbody>
                            {%for latest_queri in latest_queriz%}
                
                            <tr>
                              <td>
                                {{latest_queri.date_of_travel}}
                              </td>
                              <td>
                                {{latest_queri.date_of_return}}
                              </td>
                              <td>
                                {{latest_queri.origin_country}}
                              </td>
                              <td>
                                {{latest_queri.destination_country}}
                              </td>
                              <td>
                                {{latest_queri.age_of_traveler}}
                              </td>
                              <td>
                                {{latest_queri.inquiry_status}}
                              </td>
                              <td >
                                {{latest_queri.reason_for_denial}}
                              </td>                
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>




                </div>
            </div>
        </div>
    </div>
</section>













{% endblock content %}
